p {
  background-color: #34495e;
  border-radius: 20px;
  font-size: smaller;
  padding: 21px;
  color: white;
  text-align: center;
  margin-left: 350px;
  width: 50%;
}

h1 {
  margin-left: 350px;
}
